/*
* font family
*/
$_font_hiragino = "'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif"
$_font_meiryo   = "'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif"

/*
* font size
*/
fz(size)
  // Using YUI
  fzList = 77% 85% 93% 100% 108% 116% 123.1% 131% 138.5% 146.5% 153.9% 161.6% 167% 174% 182% 189% 197%
  baseFz = 13
  minFz  = 10
  maxFz  = 26
  if size < minFz || size > maxFz
    error("指定されたフォントサイズはYUI CSS Fonts のサポート外です")
  else
    return fzList[size - minFz]

/*
* media query
*/
// use like this
// $_media = media(screen,'and',(min-width 768px))
// @media $_media
//   .container
//     max-width 728px
media(args...)
  output = null
  for arg in args
    if arg[1]
      push(output,unquote('(%s: %s)' % (arg[0] arg[1])))
    else
      push(output,unquote(arg))
  unquote(s('%s',output))

