@import '../../node_modules/nib'

global-reset()
reset-html5()
@import "./libs/_cssfonts.styl"
@import "./libs/_utils.styl"

body
  font-family $_font_hiragino
  font-size fz(12)

$_media = media(screen,'and',(min-width 768px))
@media $_media
  .container
    max-width 728px