!!! 5
html(lang = "ja")
  head
    block title
      title #{title}
    meta(charset = "UTF-8")
    block stylesheets
    script(src = "common/js/libs/modernizr.min.js")
  body
    block content

    script(src = "common/js/libs/almond.min.js")
    script(src = "common/js/libs/vendor.js")
    block scripts
